DB_HOST=localhost
DB_PORT=5432
DB_NAME=orders
DB_SECRET_ARN=arn:aws:secretsmanager:region:account:secret:name
DYNAMODB_TABLE=events
SQS_QUEUE_URL=https://sqs.eu-west-1.amazonaws.com/123456789/OrdersQueue
NODE_ENV=development
